
        
        h1 {
            color: rgb(21, 0, 128);
        }  
        p {
            color: rgb(21, 0, 128);
        }  
        body {
  background-image: url('https://mail.google.com/mail/u/0?ui=2&ik=110819d4a3&attid=0.1&permmsgid=msg-a:r-1612372353050313912&view=att&disp=safe&realattid=f_kzflhsy80');
 }
